body {
    background-color: black;
}

/*-------------------header--------------*/

/*header*/
.header {
    /* width: 1280px; */
    /* margin-top: 15px; */
    display: flex;

}

/*header .left-content*/
.left-content a {
    display: block;
    line-height: 56px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.left-content a:hover {
    background-color: rgb(90, 90, 90);
}

/*header .center-content*/
.center-content {
    display: flex;
    color: white;
    font-weight: bold;
    flex: 1;
    /* background-color: brown; */
}

.center-content a {
    display: block;
    line-height: 53px;
    text-decoration: none;
    padding: 0 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.center-content a:hover {
    background-color: rgb(90, 90, 90);
}

.center-content ul {
    display: flex;
}

.center-content ul li a{
    font-size: 14px;
}

.center-content ul li a:hover {
    background-color: rgb(90, 90, 90);
    border-bottom: 3px solid rgb(111, 218, 227);
}

.function{
    display: flex;
}

.function .login a, .begin_game a{
    line-height: 56px;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    letter-spacing: 1px;    
}

.function .login a{
    background-color: grey;
    color: white;
    font-size: 13px;
    border-radius: 12px;
    padding: 8px;
}

.function .begin_game a{
    background-color: rgb(44, 140, 194);
    color: black;
    font-size: 13px;
    border-radius: 12px;
    padding: 8px;
}


/*------------------------content---------------------------*/


/*content*/
.content {
    /* width: 1280px; */
    margin: 0 auto;
    /* background-color: rgb(238, 235, 235); */

    padding-bottom: 25px;
}

.region {
    padding: 57px 0 10px 0;
    position: relative;

    color: #d3c7aa;
    font-weight: 400;
    text-transform: uppercase;

    letter-spacing: 8px;
    text-align: center;

    text-transform: uppercase;
}

.region::before {
    height: 1px;
    width: 30%;

    content: "";
    position: absolute;
    top: 69px;

    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(right, #3d3222, rgba(61, 50, 34, 0));
    background-image: linear-gradient(270deg, #3d3222 0, rgba(61, 50, 34, 0));
    right: calc(50% + 150px);
}

.region::after {
    height: 1px;
    width: 30%;
    content: "";

    position: absolute;
    top: 69px;

    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(left, #3d3222, rgba(61, 50, 34, 0));
    background-image: linear-gradient(90deg, #3d3222 0, rgba(61, 50, 34, 0));
    left: calc(50% + 150px);
}

.hero_number {
    font-family: Beaufort for LOL, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: #937341;
    letter-spacing: 8px;
    padding-bottom: 20px;
}

/*****************************************/
/*ul*/
.hero_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: brown; */
}

/*li*/
.item {
    width: 241px;
    height: 422px;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
    top: 0;
    left: 0;

}

.item_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* background-image: url("https://cdngarenanow-a.akamaihd.net/webmain/static/pss/lol/items_splash/bard_1.jpg");
    background-position: 82.8807% 13.6681%;


    background-repeat: no-repeat;
    background-size: cover; */
}

.information {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 10, 12, .9);
    border-top: 1px solid #927345;
    padding: 22px;
    text-align: center;
    transition: .4s;
}

.item_content img{
    width:100%;
    height: 100%;
}

.information h1 {
    color: #937341;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Beaufort for LOL, Arial, sans-serif;
    font-weight: 500;
}

.information h2 {
    color: #c4b998;
    font-size: 12px;
    letter-spacing: .05em;
    padding-top: 6px;

}

.information h1,
h2 {
    text-transform: uppercase;
}

/*-----------------footer--------------------*/
/*---footer---*/
.footer{
    /* width: 1280px; */
    margin-top: 20px;
    background-color: rgb(45, 45, 45);
    border:  1px solid rgb(90, 90, 90);

}

.footer_riotgames a{
    color:  rgb(90, 90, 90);;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    width:fit-content;
    display: block;
    margin: 30px auto;
}

.footer_riotgames a:hover{
    color: white;

}

.cc{
    color:gray;
    text-align: center;

    width:45%;
    margin: 5px auto;
}

.footer_links ul{
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}


.footer_links ul li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    padding: 15px;    
}

.footer_links ul li a:hover{
    background-color: rgb(90, 90, 90);
    border-radius: 15px;
}

.practice{
    color:white;
    text-align: center;

    padding: 20px;
}

.practice a{
    text-decoration: none;
    color:white;
}
